*{
  margin: 0;
  padding: 0;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  background-color: #e6e6e6;
  clear: both;
}
th {
  text-align: left;
}
.post {
  display: block;
  -moz-border-radius:15px;
  border-radius:15px;
  background-color: #cfcfcf;
  overflow: hidden;
  padding: 15px;
}
.post:hover {
  background-color: #ababab;
}
.poster_name {
  color:#525252;
}
.comment_container {

}
.post_container a{
  text-decoration: none;
  color: black;
}
.comment {
  background-color: #cfcfcf;
}
.edit_post a{
  float:right;
  color: #28525c;
}
nav {
  background-color: #7fe5ff;
  height: 80px;
  border-bottom: solid 1px black;
}
nav ul li {
  float: left;
  list-style: none;
}
