<% @posts.each do |post_obj| %>
<div class="post_container">
  <h4><%= post_obj.title %></h4>
  <div class="post">
    <p><%= post_obj.content %></p>
    <span class="poster_name">By: <%= User.where('id = ?',post_obj.user_id).first.username %></span>
    <span class="edit_post"><a href="">Edit Post</a></span>
  </div>
  <div class="comment_container">
    <h4>Comments</h4>
    <div class="comment">
      <p>Yo mamas soo fat...</p>
    </div>
  </div>
  <hr />
</div>
<% end %>
