<% if !session[:username].nil? %>
  <h1>Welcome <%= session[:username]%></h1>

<form action="/edit_post" method="post">
  <input type="text" name="title"/>
  <textarea name="content"></textarea>
</form>

  <a href="/logout">Logout</a>
<% else %>
  <code>401 You are not authorized to view this page</code>
<% end %>
